---
import Layout from "../layouts/Layout.astro";
import SideBarTextless from "../components/SideBarTextless.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SectionMain from "../components/SectionMain.astro";
import SectionViews from "../components/SectionViews.astro";
import List from "../components/List.astro";
import Table from "../components/Almacen/AlmacenTable.astro";
import SideBar from "../components/SideBar.astro";
import AlmacenCards from "../components/Almacen/AlmacenCards.astro";
---

<Layout
    title="Agua Máxima Purificación"
    description="Fresca y pura gota a gota"
>
    <main>
        <SectionContainer>
            <SideBar />
            <SectionMain>
                <Header />
                <div
                    class="w-[1480px] h-full fixed ml-[calc(50%-700px)] pt-10 pb-24"
                >
                    <h1 class="text-black text-5xl font-bold pb-10 text-center">
                        Gestión de almacén
                    </h1>
                    <h2 class="text-xl px-10 pb-10 text-center">Gestiona de forma óptima los almacenes de la empresa</h2>
                    <AlmacenCards titleCard1="Planta" titleCard2="Camionetas"/>
                    <!-- Outputs <h1>Hello Astro!</h1> 
                    <Table title1="id" title2="Nombre del producto" title3="Stock" title4="Precio" title5="Acción" description1="Garrafón de 20 L (solo líquido)" description2="Garrafón de 20 L (solo garrafón)" description3="Garrafón de 20 L (garrafón + líquido)" /> -->
                </div>
            </SectionMain>
        </SectionContainer>
    </main>
</Layout>
