---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Agua Máxima Purificación"
description="Fresca y pura gota a gota">
	<main>
		
	</main>
</Layout>

<style>
	main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
