---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/LoginForm.astro"
---

<Layout
    title="Agua Máxima Purificación"
    description="Fresca y pura gota a gota"
>
    <main>
        <SectionContainer>
            <div class="flex flex-row">
                <img class="w-[75%] overflow-hidden h-[100vh]" src="./public/project/maximaenterprise.webp" alt="sucursal">
                <LoginForm />
            </div>
        </SectionContainer>
    </main>
</Layout>

<style>
    main {
    }
</style>
