---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SectionMain from "../components/SectionMain.astro";
import SectionViews from "../components/SectionViews.astro";
import SideBar from "../components/SideBar.astro";
import PlantaCards from "../components/Almacen/Planta/PlantaCards.astro";
---

<Layout
    title="Agua Máxima Purificación"
    description="Fresca y pura gota a gota"
>
    <main>
        <SectionContainer>
            <SideBar />
            <SectionMain>
                <Header />
                <div
                    class="w-[1480px] h-full fixed ml-[calc(50%-700px)] pt-10 pb-24"
                >
                    <h1 class="text-black text-5xl font-bold pb-10 text-center">
                        Gestión de planta
                    </h1>
                    <h2 class="text-xl px-10 pb-10 text-center">
                        Gestiona de forma óptima el almacén de la planta
                    </h2>
                    <PlantaCards
                        titleCard1="Garrafones"
                        titleCard2="Utilería"
                    />

                </div>
            </SectionMain>
        </SectionContainer>
    </main>
</Layout>
