---
import Layout from "../layouts/Layout.astro";
import SideBarTextless from "../components/SideBarTextless.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SectionMain from "../components/SectionMain.astro";
import SectionViews from "../components/SectionViews.astro";
import List from "../components/List.astro";
import Table from "../components/Almacen/AlmacenTable.astro";
import SideBar from "../components/SideBar.astro";
import AlmacenCards from "../components/Almacen/AlmacenCards.astro";
import UtileriaCards from "../components/Almacen/Planta/Utileria/UtileriaCards.astro";
---

<Layout
    title="Agua Máxima Purificación"
    description="Fresca y pura gota a gota"
>
    <main>
        <SectionContainer>
            <SideBar />
            <SectionMain>
                <Header />
                <div
                    class="w-[1480px] h-full fixed ml-[calc(50%-700px)] pt-10 pb-24"
                >
                    <h1 class="text-black text-5xl font-bold pb-10 text-center">
                        Gestión de utilería
                    </h1>
                    <h2 class="text-xl px-10 pb-10 text-center">
                        Gestiona de forma óptima la utilería de la planta
                    </h2>
                    <UtileriaCards
                        titleCard1="Tapas"
                    />
                </div>
            </SectionMain>
        </SectionContainer>
    </main>
</Layout>
