---
const currentYear = new Date().getFullYear();
const currentDate = new Date().getDate();

let date = new Date()
let diaSemana = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado']
const currentDay = diaSemana[date.getDay()]
let mesAnyo = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
const currentMonth = mesAnyo[date.getMonth()]


/*setInterval(() => {
    let d = new Date();
    let timeElement = document.getElementById("current-time");
    if (timeElement) {
        timeElement.innerHTML = d.toLocaleTimeString();
    }
},1000);*/
---
<header class="h-16 p-[20px] border-gray-200 border-b-[1px]">
    <nav>
        <h1>Hoy es {currentDay} {currentDate} de {currentMonth} del año {currentYear}</h1>
    </nav>
</header>