---
import HomeIcon from "./Icons/Home.astro"
import WareHouseIcon from "./Icons/WareHouse.astro"
import UsersIcon from "./Icons/Users.astro"
import BillsIcon from "./Icons/Bills.astro"
import ReportsIcon from "./Icons/Reports.astro"
import SalesIcon from "./Icons/Sales.astro"
import SettingsIcon from "./Icons/Settings.astro"
---
    <div class="fixed w-fit h-full py-[9px] border-gray-200 border-r-[1px]">
        <li class="p-[15px] flex items-center"><a class="flex items-center" href=""><img class="h-6 w-auto" src="./public/project/svgl.webp" alt="Logo"></a></li>
        <ul class="">  
            <li class="p-[15px] pt-[9px] flex items-center"><a class="flex items-center" href="#home"><HomeIcon class="size-6" /></a></li>
            <li class="p-[15px] flex items-center"><a class="flex items-center" href=""><WareHouseIcon class="size-6" /></a></li>
            <li class="p-[15px] flex items-center"><a class="flex items-center" href=""><UsersIcon class="size-6" /></a></li>
            <li class="p-[15px] flex items-center"><a class="flex items-center" href=""><BillsIcon class="size-6" /></a></li>
            <li class="p-[15px] flex items-center"><a class="flex items-center" href=""><ReportsIcon class="size-6" /></a></li>
            <li class="p-[15px] flex items-center"><a class="flex items-center" href=""><SalesIcon class="size-6" /></a></li>
            <li class="p-[15px] fixed bottom-0"><a class="flex items-center" href=""><SettingsIcon class="size-6" /></a></li>
        </ul>
    </div>